*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}


body,
h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}


body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: inherit;
}


h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}


h1, h2,
h3, h4 {
  text-wrap: balance;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}


img, picture {
  max-width: 100%;
  display: block;
}


input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

input:focus, textarea:focus, select:focus {
 outline: 2px solid #007bff;
}


textarea:not([rows]) {
  min-height: 10em;
}


:target {
  scroll-margin-block: 5ex;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}

.sr-only{
    clip-path:inset(100%);
    clip:rect(0 0 0 0 );
    height:1px;
    overflow:hidden;
    position: absolute;
    white-space:nowrap;
    width:1px
}

:root{
    --clr-Orange: hsl(26, 100%, 55%);
    --clr-Pale-orange: hsl(25, 100%, 94%);
    --clr-Very-dark-blue: hsl(220, 13%, 13%);
    --clr-Dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-Grayish-blue: hsl(220, 14%, 75%);
    --clr-Light-grayish-blue: hsl(223, 64%, 98%);
    --clr-White: hsl(0, 0%, 100%);
    --clr-Black: hsla(0, 0%, 0%, 0.75)
    ;

    --ff:"Kumbh Sans", sans-serif;

    --fs-p:16px;
    --fw-400:400;
    --fw-700:700;
}

/* utility classes */
.flex{
  display: flex;
  
}

body{
  font-family: var(--ff);
  padding: 0 9rem;
  flex-direction: column;
  gap: 4rem;
  
}

header{
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-Grayish-blue);
}

li > a{
  text-decoration:none;
  padding-bottom: 3rem;
  font-weight: var(--fw-700);
}

.nav-div{
  align-items: center;
  gap: 2rem;
}
.primary-navigation{
  list-style: none;
  gap: 1rem;
}
.primary-navigation > li > a:hover{
  border-bottom:4px solid var(--clr-Orange);
}
.header-buttons{
  align-items: center;
  gap: 2rem;
}
.header-buttons > img{
  aspect-ratio: 1;
  width: 45px;
}
@media screen and (max-width: 375px) {

}

@media only screen and (min-width: 764px) and (max-width: 1024px) {

}