*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #007bff;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.sr-only {
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --clr-Orange: hsl(26, 100%, 55%);
  --clr-Pale-orange: hsl(25, 100%, 94%);
  --clr-Very-dark-blue: hsl(220, 13%, 13%);
  --clr-Dark-grayish-blue: hsl(219, 9%, 45%);
  --clr-Grayish-blue: hsl(220, 14%, 75%);
  --clr-Light-grayish-blue: hsl(223, 64%, 98%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-overlay: hsla(0, 23%, 94%, 0.598);

  --ff: "Kumbh Sans", sans-serif;

  --fs-p: 16px;
  --fw-400: 400;
  --fw-700: 700;
}

/* utility classes */
.flex {
  display: flex;
}

body {
  font-family: var(--ff);
  padding: 0 9rem;
  flex-direction: column;
  gap: 4rem;
}

header {
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-Grayish-blue);
}

li > a {
  text-decoration: none;
  padding-bottom: 3rem;
}

.nav-div {
  align-items: center;
  gap: 2rem;
}
.primary-navigation {
  list-style: none;
  gap: 1rem;
  color: var(--clr-Grayish-blue);
  font-weight: var(--fw-700);

  cursor: pointer;
}
.primary-navigation > li > a:hover {
  border-bottom: 4px solid var(--clr-Orange);
}
.header-buttons {
  align-items: center;
  gap: 2rem;

  cursor: pointer;
}

.avatar {
  aspect-ratio: 1;
  width: 45px;
}
.header-buttons > img:hover {
  border: 2px solid var(--clr-Orange);
  border-radius: 50%;
}
.cart-dropdown {
  position: absolute;
  top: 6rem;
  right: 6rem;
  background-color: var(--clr-White);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  height: 260px;
  width: 360px;
}

.cart-empty {
  flex-direction: column;
  width: 100%;
  height: 100%;

  gap: 4rem;
}
.empty-cart-info-details {
  align-self: center;
  justify-self: center;
  font-weight: var(--fw-700);
  color: var(--clr-Dark-grayish-blue);
}

.cart-header {
  padding: 1rem 2rem;
  /* padding-bottom: 2rem; */
  border-bottom: 2px solid var(--clr-Grayish-blue);
  color: var(--clr-Very-dark-blue);
  /* padding-left: 1rem; */
}
.cart-filled {
  flex-direction: column;
  gap: 0.6rem;
}
.cart-info {
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.cart-image {
  height: 50px;
  border-radius: 5px;
  aspect-ratio: 1;
}
.total-cost {
  font-weight: var(--fw-700);
  color: var(--clr-Dark-grayish-blue);
}

.delete-btn {
  background-color: transparent;
  border: none;
}
.Checkout {
  margin: 0 1rem;
}
.product {
  flex-direction: row;
  gap: 4rem;
  padding: 0 4rem;
}
.product-gallery {
  flex-direction: column;
}

.product-gallery,
.product-information {
  max-width: 50%;
}
.product-image {
  flex-direction: column;
  gap: 2rem;
}

.main-image {
  aspect-ratio: 1;
  border-radius: 1rem;
  cursor: pointer;
  height: 460px;
}

.thumbnails-gallery {
  gap: 1rem;
}

.thumbnails-gallery > button {
  position: relative;
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  transition: opacity 0.3s ease;
}

.thumbnails-gallery > button > img {
  border-radius: 1rem;
}
.thumbnails-gallery > button > img:hover {
  border: 3px solid var(--clr-Orange);
}
.thumbnails-gallery > button::before {
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 1rem;
  pointer-events: none;
  transition: opacity 0.3s ease;
  background-color: var(--clr-overlay);
}
.thumbnails-gallery > button:hover::before {
  opacity: 1;
}

.product-information {
  flex-direction: column;
  gap: 1.4rem;

  /* padding: 3rem 0; */
  width: 50ch;

  justify-content: center;
}

.product-title {
  font-size: 2.56rem;
  padding-bottom: 1rem;
}
.company-name,
.discount-amount {
  font-weight: var(--fw-700);
  color: var(--clr-Dark-grayish-blue);
}
.product-description {
  font-weight: var(--fw-700);
  color: var(--clr-Grayish-blue);
}
.price {
  gap: 1rem;
  align-items: center;
}
.product_cost {
  font-size: 2rem;
  font-weight: var(--fw-700);
}
.percentage-discount {
  background-color: var(--clr-Very-dark-blue);
  color: var(--clr-White);
  padding: 5px 9px;
  font-weight: var(--fw-700);
  border-radius: 5px;
}
.discount-amount {
  text-decoration: line-through;
}
.buttons {
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.count-button > button {
  background-color: transparent;
  border: none;
}

.count-button {
  justify-content: space-between;
  gap: 1.2rem;
  background-color: var(--clr-Light-grayish-blue);
  align-items: center;
  border-radius: 10px;
}

.decrease-btn,
.increase-btn {
  padding: 1.2rem 1.6rem;
  cursor: pointer;
}
.count-output {
  font-weight: var(--fw-700);
}
.cart-container {
  align-items: center;
  position: relative;
}
.cart-container::after {
  content: attr(data-count);
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--clr-Orange);
  font-size: 12px;
  font-weight: var(--fw-700);
  width: 16px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  visibility: hidden;
}
.cart-container[data-count]:not([data-count="0"])::after {
  visibility: visible;
}

.cart-container > svg {
  background-color: transparent;
}

.add-to-cart,
.Checkout {
  padding: 1.2rem 1.6rem;
  border: none;
  background-color: var(--clr-Orange);
  color: var(--clr-Very-dark-blue);
  fill: var(--clr-Very-dark-blue);
  font-weight: var(--fw-700);

  align-items: center;
  gap: 1rem;

  border-radius: 10px;

  cursor: pointer;
}

@media screen and (max-width: 375px) {
}

@media only screen and (min-width: 764px) and (max-width: 1024px) {
  body {
    padding: 0 rem;
  }
}
